@import '../node_modules/the-new-css-reset/css/reset.css';

:root{
  --black : rgb(0,0,0 );
  --blue : rgb(93,124,134);
  --charcoal : rgb(47,63,68);
  --sinopia : rgb(192,79,44);
  --white-smoke : rgb(245,245,245);
  font-size : 16px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Abril Fatface";
  src: url("/assets/fonts/AbrilFatface-Regular.ttf") format("woff2"); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("/assets/fonts/WorkSans-Regular.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "Work Sans";
  src : url("/assets/fonts/WorkSans-LightItalic.ttf") format("woff2");
  font-weight: 200;
  font-style: italic;
}
body {
  font-family:"Abril Fatface";
  color: var(--black);
  background-color: var(--white-smoke);
}

.header-home{
  background-image: url("/img/home.jpeg");
  height: 20.5rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

.h1{
  font-size: 2.5rem;
}

.header-home__baseline{
  font-family: "Work Sans";
  text-align: right;
  font-weight: 200;
  font-style: italic;
  gap : 10px;
  font-size: 1.5rem;
  justify-self: center;
  position: absolute;
  top: calc(40%);
  right: 10px;
}

.header-home__top-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: start;
  padding: 1rem;
}

.header__burger-menu{
  cursor: pointer;
}

.header-home__d-from-title{
  color: var(--blue);
}

.header-home__int-from-subtitle{
  color: var(--sinopia);
  font-family: "Work Sans";
}

.header-home__style-from-subtitle{
  color: var(--blue);
  font-family: "Abril Fatface";
}

