body {
  font-family:"Abril Fatface";
  color: var(--black);
  background-color: var(--white-smoke);
  display: flex;
  flex-direction: column;
}

.header-home{
  background-image: url("/img/home.jpeg");
  background-position: center center;
  height: 20.5rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}
.header__menu-desktop{
  display: none;
}



.h1{
  font-size: 2.5rem;
}

.header-home__baseline{
  font-family: "Work Sans";
  text-align: right;
  font-style: italic;
  gap : 10px;
  font-size: 1.5rem;
  justify-self: center;
  position: absolute;
  top: calc(40%);
  right: 10px;
}

.header-home__baseline.blured{
  filter: blur(2px);
}

.header-home__top-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  transition :all 0.3s ease-in-out;
}

.header-home__top-bar.fixed{
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1000;
  background-color: var(--white-smoke);
}

.header-home__top-bar.white-smoke{
  background-color: var(--white-smoke);
  transition: none;
}
.header__burger-menu{
  cursor: pointer;
}

.header-home__d-from-title{
  color: var(--blue);
}

.header-home__int-from-subtitle{
  color: var(--sinopia);
  font-family: "Work Sans";
}

.header-home__style-from-subtitle{
  color: var(--blue);
  font-family: "Abril Fatface";
}

.class-list{
  position: absolute;
}

.nav-list{
  background-color: var(--white-smoke);
  position: fixed;
  top : 5rem;
  width : 100%;
  border-bottom: 0.5rem solid var(--sinopia);
  z-index: 5;
  padding-bottom: 1.5rem;
}

.nav-list__item{
  padding: 1rem;
  gap: 2px;
  font-family: 'Work Sans';
  color: var(--black);
  text-align: center;
  display: flex;
  justify-content: center;
}

.selected{
  border-bottom: 2px solid var(--sinopia);
  width: auto;
  max-width: min-content;
}
.header__top-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1000;
  background-color: var(--white-smoke);
}

@media screen and (min-width: 768px) {

  .header-home{
    height : 50rem;
  }
  .header-home__baseline{
    font-size: 3rem;
  }
  .header__burger-menu{
    display: none;
  }
  .header__menu-desktop{
    display: inline;  
  }
  .items__menu-desktop{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 1.25rem;
    font-family: 'Work Sans';
  }
}