.hero-header{
  background-image: url("/img/home.webp");
  background-position: center center;
  height: 20.5rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  transition :all 0.3s ease-in-out;
}

.header__nav{
  display: none;
}
.header__title{
  font-size: 2.5rem;
}

.hero-header__baseline{
  font-family: "Work Sans";
  text-align: right;
  font-style: italic;
  gap : 10px;
  font-size: 1.5rem;
  justify-self: center;
  position: absolute;
  top: calc(40%);
  right: 10px;
}

.hero-header__baseline.blured{
  filter: blur(2px);
}


.header.fixed{
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1000;
  background-color: var(--white-smoke);
}

.header.white-smoke{
  background-color: var(--white-smoke);
  transition: none;
}
.header__burger-menu{
  cursor: pointer;
}

.header__title-letter{
  color: var(--blue);
}

.hero-header__word--int{
  color: var(--sinopia);
  font-family: "Work Sans";
}

.hero-header__word--style{
  color: var(--blue);
  font-family: "Abril Fatface";
}

.header__top-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1000;
  background-color: var(--white-smoke);
}

@media screen and (min-width: 768px) {

  .hero-header{
    height : 50rem;
  }
  .hero-header__baseline{
    font-size: 3rem;
  }
  .header__burger-menu{
    display: none;
  }
}