.main{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 2rem;
    font-family: 'Work Sans';
    font-size: 1rem;
}
.subtitle{
    font-size: 1.5rem;
    padding: 2rem;
}