.product-card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    width: 24rem;
    border-bottom: 0.5rem solid var(--white-smoke);
    border-right: 0.5rem solid var(--white-smoke);
    background-color: white;
    justify-content: center;
    align-items: center;
}
.product-card__img{
    width: 15.5rem;
    height: 15.5rem;
    
}
.product-card__txt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;   
    gap: 1,5rem;
}
.product-card_ttl-cat{
    max-width: 11.5rem;
}
.product-card__ttl{
    font-family: 'Abril Fatface';
    font-size: 2rem;
}
.product-card__ttl{
    font-family: 'Work Sans';
    color: var(--blue);
}
.product-card__price{
    color: var(--sinopia);
    font-family: 'Abril Fatface';
    font-size: 2rem;
    margin-left: 1rem;
}
.product-card__cent{
    font-size: 1.25rem;
}
.product-card__dsc{
    font-family: 'Work Sans';
}
@media screen and (min-width : 768px) {

    .product-card{
        width: 20rem;
    }
    .product-card_ttl-cat{
        max-width: 8rem;
    }
}