.shop-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: white;
    justify-content: center;
    align-items: center;

}
.article__shop-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    width: 24rem;
    border-bottom: 0.5rem solid var(--white-smoke);
    border-right: 0.5rem solid var(--white-smoke);
    background-color: white;
    justify-content: center;
    align-items: center;
}
.image__article-shop-list{
    width: 15.5rem;
    height: 15.5rem;
    
}
.center-container__article-shop-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;   
    gap: 1,5rem;
}
.title-and-category-container__article-shop-list{
    max-width: 11.5rem;
}
.title__article-shop-list{
    font-family: 'Abril Fatface';
    font-size: 2rem;
}
.category__article-shop-list{
    font-family: 'Work Sans';
    color: var(--blue);
}
.price__article-shop-list{
    color: var(--sinopia);
    font-family: 'Abril Fatface';
    font-size: 2rem;
    margin-left: 1rem;
}
.cents__article-shop-list{
    font-size: 1.25rem;
}
.description__article-shop-list{
    font-family: 'Work Sans';
}
@media screen and (min-width : 768px) {
    .shop-list{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .article__shop-list{
        width: 20rem;
    }
    .title-and-category-container__article-shop-list{
        max-width: 8rem;
    }
}